{
  "env": {
    "development": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": false,
            "useBuiltIns": "entry",
            "corejs": "3.0.0",
            "targets": {
              "browsers": ["last 3 versions", "> 5%"]
            }
          }
        ],
        "@babel/preset-react",
        "@babel/preset-typescript"
      ],
      "plugins": [
        "lodash",
        "babel-plugin-inline-import",
        "react-hot-loader/babel",
        ["babel-plugin-styled-components"]
      ]
    },
    "production": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": false,
            "useBuiltIns": "entry",
            "corejs": "3.0.0",
            "targets": {
              "browsers": ["last 3 versions", "not ie"]
            }
          }
        ],
        "@babel/preset-react",
        "@babel/preset-typescript"
      ],
      "plugins": ["lodash", "babel-plugin-inline-import"]
    },
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "useBuiltIns": "entry",
            "corejs": "3.0.0",
            "targets": {
              "browsers": ["last 3 versions", "not ie"]
            }
          }
        ],
        "@babel/preset-react",
        "@babel/preset-typescript"
      ],
      "plugins": ["lodash", "babel-plugin-inline-import"]
    }
  }
}
